<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article using Natural Language Processing!</title>
        <script src="https://kit.fontawesome.com/26eb599f43.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            <h1>Udacity FEND NLP Project</h1>
        </header>

        <main>
            <section>
                <div id="app-heading">
                    <p>
                        This app utilizes the Aylien Text Analysis API to analyze and classify your input search term or
                        URL. The API is a package of Natural Language Processing and Machine Learning-powered APIs for
                        analyzing and extracting various kinds of information from textual content.
                    </p>
                    <hr>
                    <p>
                        There are currently two search options. The first one uses Aylien's Sentiment Analysis. It will
                        return information on your search term, such as the tone (positive, neutral, or negative), and
                        whether or not the term is subjective or objective.
                    </p>
                    <hr>
                    <p>
                        The second option uses Aylien's Summarization feature, and requires that you provide a URL. This
                        option is an easy way to summarize a news article or blog post into a few key sentences.
                        At this time, this option is limited to 4 summary sentences.
                    </p>

                </div>
                <form id="sentiment-form" onsubmit="return Client.sentiment(event)">
                    <h3>Text Sentiment Analysis</h3>
                    <input id="sentiment-search" type="text" name="input" placeholder="Input text you'd like to analyze for sentiment...">
                    <input type="submit" class="button" value="submit" onclick="return Client.sentiment(event)" onsubmit="return Client.sentiment(event)">
                </form>
                <form id="summary-form" onsubmit="return Client.summarize(event)">
                    <h3>URL Summarization</h3>
                    <input id="summarize" type="text" name="input" placeholder="Input a URL you'd like to summarize...">
                    <input type="submit" class="button" value="submit" onclick="return Client.summarize(event)" onsubmit="return Client.summarize(event)">
                </form>
            </section>

            <section>
                <div id="sentiment-results-container">
                    <div id="search-term-title">Search Term: <span id="search-term"></span></div>
                    <div>Polarity: <span id="polarity"></span></div>
                    <div>Polarity Confidence: <span id="polarity_confidence"></span></div>
                    <div>Subjectivity: <span id="subjectivity"></span></div>
                    <div>Subjectivity Confidence: <span id="subjectivity_confidence"></span></div>
                </div>
                <div id="summary-results-container">
                    <div id="searched-url-title">Searched URL:</div>
                    <div id="searched-url"></div>
                    <div id="url-summary-title">URL Summary:</div>
                    <p id="summary-1"></p>
                    <p id="summary-2"></p>
                    <p id="summary-3"></p>
                    <p id="summary-4"></p>
                </div>
            </section>
        </main>

        <footer>
            <h3 class="footer-title">&copy; Ivan Olmo 2020</h3>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fas fa-envelope-square"></i></a>
        </footer>
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
    </script>
    </body>
</html>
