body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D9D9D9;


    main {
        //flex: 2;
    }

    section {
        max-width: 800px;
        margin: 50px auto;

        #app__heading {
            color: #D9D9D9;
            padding: 1em;
            font-size: 1.5em;
            background-color: #393F4D;
            border-radius: 25px;
            margin-bottom: 25px;
        }
    }

    p {
        padding: 0.75em;
    }

    h3 {
        font-size: 2em;
        color: #393F4D;
    }

    hr {
        border: none;
    }

    .results {
        font-size: 2em;
        border: 1px solid #545454;
        border-radius: 10px;
        padding: 10px;
        margin: 0.5em 0;
    }
}